In [40]:
# import libraries

#Web Sraping
from bs4 import BeautifulSoup
import requests

#General
import pandas as pd
import re

#APIs
from math import radians, sin, cos, sqrt, asin
from datetime import datetime, timedelta
from pytz import timezone
import json
import pyowm
import sqlalchemy as db
import time

# Cities

In [41]:
city_names = ['Berlin', 'Vienna', 'Rome', 'Paris', 'Barcelona', 'Milan', 'Amsterdam', 'Stockholm', 'Oslo', 'Helsinki', 'Prague',
          'Madrid', 'Budapest', 'Madrid', 'Copenhagen', 'Athens', 'London', 'Cologne', 'Hamburg', 'Munich', 'Bucharest', 
          'Dublin', 'Edinburgh', 'Sofia']

## Function for city demographics

In [42]:
country = []
coordinates = []
population = []

In [43]:
def extract_population(text):
    numbers = re.findall(r'\b\d{1,3}(?:,\d{3})+\b', text)
    return max(map(lambda num: int(num.replace(',', '')), numbers))

In [44]:
for city in city_names:
    url = f"https://en.wikipedia.org/wiki/{city}"
    
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, "html.parser")
        # selecting country
        for s in soup.select("table.infobox tbody tr th"):
            if s.text == "Country":
                try:
                    country.append(s.find_next_sibling("td").select("a")[0].get_text())
                except:
                    country.append(s.find_next_sibling("td").get_text())
                break
        # selecting coordinates
        for s in soup.select("table.infobox tbody tr td"):
            if s.text.startswith("Coordinates: "):
                coordinates.append(s.text.split("/")[-1].split(";"))
        # selecting population
        population.append(extract_population(soup.find('table', class_='infobox').text))

In [45]:
country

['Germany',
 'Austria',
 'Italy',
 'France',
 'Spain',
 'Italy',
 'Netherlands',
 'Sweden',
 'Norway',
 'Finland',
 'Czech Republic',
 'Spain',
 'Hungary',
 'Spain',
 'Denmark',
 'Greece',
 'England',
 'Germany',
 'Germany',
 'Germany',
 '',
 'Ireland',
 'Scotland',
 'Bulgaria']

In [46]:
coordinates

[[' 52.52000', ' 13.40500'],
 [' 48.20833', ' 16.37250'],
 [' 41.89333', ' 12.48278'],
 [' 48.85667', ' 2.35222'],
 [' 41.38278', ' 2.17694'],
 [' 45.46694', ' 9.19000'],
 [' 52.37278', ' 4.89361'],
 [' 59.32944', ' 18.06861'],
 [' 59.91333', ' 10.73889'],
 [' 60.17083', ' 24.93750'],
 [' 50.08750', ' 14.42139'],
 [' 40.41694', ' -3.70333'],
 [' 47.49250', ' 19.05139'],
 [' 40.41694', ' -3.70333'],
 [' 55.67611', ' 12.56833'],
 [' 37.98417', ' 23.72806'],
 [' 51.50722', ' -0.12750'],
 [' 50.93639', ' 6.95278'],
 [' 53.550', ' 10.000'],
 [' 48.13750', ' 11.57500'],
 [' 44.43250', ' 26.10389'],
 [' 53.35000', ' -6.26028'],
 [' 55.95333', ' -3.18917'],
 [' 42.70', ' 23.33']]

In [47]:
population

[6144600,
 951354,
 860009,
 13024518,
 840000,
 371498,
 480394,
 2121000,
 64235,
 559558,
 709418,
 791667,
 997958,
 791667,
 366301,
 638281,
 14800000,
 711712,
 945532,
 991144,
 716961,
 458154,
 518500,
 1667314]

## Data Cleaning

In [48]:
cities_df = pd.DataFrame(
    {"City" : city_names,
    "Country" : country,
    "Coordinates" : coordinates,
    "Population" : population
    }
)

cities_df

          City         Country             Coordinates  Population
0       Berlin         Germany  [ 52.52000,  13.40500]     6144600
1       Vienna         Austria  [ 48.20833,  16.37250]      951354
2         Rome           Italy  [ 41.89333,  12.48278]      860009
3        Paris          France   [ 48.85667,  2.35222]    13024518
4    Barcelona           Spain   [ 41.38278,  2.17694]      840000
5        Milan           Italy   [ 45.46694,  9.19000]      371498
6    Amsterdam     Netherlands   [ 52.37278,  4.89361]      480394
7    Stockholm          Sweden  [ 59.32944,  18.06861]     2121000
8         Oslo          Norway  [ 59.91333,  10.73889]       64235
9     Helsinki         Finland  [ 60.17083,  24.93750]      559558
10      Prague  Czech Republic  [ 50.08750,  14.42139]      709418
11      Madrid           Spain  [ 40.41694,  -3.70333]      791667
12    Budapest         Hungary  [ 47.49250,  19.05139]      997958
13      Madrid           Spain  [ 40.41694,  -3.70333]      791667
14  Copenhagen         Denmark  [ 55.67611,  12.56833]      366301
15      Athens          Greece  [ 37.98417,  23.72806]      638281
16      London         England  [ 51.50722,  -0.12750]    14800000
17     Cologne         Germany   [ 50.93639,  6.95278]      711712
18     Hamburg         Germany      [ 53.550,  10.000]      945532
19      Munich         Germany  [ 48.13750,  11.57500]      991144
20   Bucharest                  [ 44.43250,  26.10389]      716961
21      Dublin         Ireland  [ 53.35000,  -6.26028]      458154
22   Edinburgh        Scotland  [ 55.95333,  -3.18917]      518500
23       Sofia        Bulgaria        [ 42.70,  23.33]     1667314

Coordinates

In [49]:
def clean_coordinates(coord):
    return f"{coord[0]}, {coord[1]}"

def extract_lat(coord):
    return float(coord.strip().split(",")[0])

def extract_lon(coord):
    return float(coord.strip().split(",")[1])

In [50]:
cities_df['Coordinates'] = cities_df['Coordinates'].apply(clean_coordinates)

cities_df['Latitude'] = cities_df['Coordinates'].apply(extract_lat)
cities_df['Longitude'] = cities_df['Coordinates'].apply(extract_lon)

cities_df['Coordinates'] = cities_df['Coordinates'].str.strip()

cities_df
# cities_df.info()

,City,Country,Coordinates,Population,Latitude,Longitude
0,Berlin,Germany,"52.52000, 13.40500",6144600,52.52000,13.40500
1,Vienna,Austria,"48.20833, 16.37250",951354,48.20833,16.37250
2,Rome,Italy,"41.89333, 12.48278",860009,41.89333,12.48278
3,Paris,France,"48.85667, 2.35222",13024518,48.85667,2.35222
4,Barcelona,Spain,"41.38278, 2.17694",840000,41.38278,2.17694
5,Milan,Italy,"45.46694, 9.19000",371498,45.46694,9.19000
6,Amsterdam,Netherlands,"52.37278, 4.89361",480394,52.37278,4.89361
7,Stockholm,Sweden,"59.32944, 18.06861",2121000,59.32944,18.06861
8,Oslo,Norway,"59.91333, 10.73889",64235,59.91333,10.73889
9,Helsinki,Finland,"60.17083, 24.93750",559558,60.17083,24.93750
10,Prague,Czech Republic,"50.08750, 14.42139",709418,50.08750,14.42139
11,Madrid,Spain,"40.41694, -3.70333",791667,40.41694,-3.70333
12,Budapest,Hungary,"47.49250, 19.05139",997958,47.49250,19.05139
13,Madrid,Spain,"40.41694, -3.70333",791667,40.41694,-3.70333
14,Copenhagen,Denmark,"55.67611, 12.56833",366301,55.67611,12.56833
15,Athens,Greece,"37.98417, 23.72806",638281,37.98417,23.72806
16,London,England,"51.50722, -0.12750",14800000,51.50722,-0.12750
17,Cologne,Germany,"50.93639, 6.95278",711712,50.93639,6.95278
18,Hamburg,Germany,"53.550, 10.000",945532,53.55000,10.00000
19,Munich,Germany,"48.13750, 11.57500",991144,48.13750,11.57500
20,Bucharest,,"44.43250, 26.10389",716961,44.43250,26.10389
21,Dublin,Ireland,"53.35000, -6.26028",458154,53.35000,-6.26028
22,Edinburgh,Scotland,"55.95333, -3.18917",518500,55.95333,-3.18917
23,Sofia,Bulgaria,"42.70, 23.33",1667314,42.70000,23.33000

In [51]:
# Adding city_ids

cities_df["city_id"] = range(1, len(cities_df) + 1)
cities_df

,City,Country,Coordinates,Population,Latitude,Longitude,city_id
0,Berlin,Germany,"52.52000, 13.40500",6144600,52.52000,13.40500,1
1,Vienna,Austria,"48.20833, 16.37250",951354,48.20833,16.37250,2
2,Rome,Italy,"41.89333, 12.48278",860009,41.89333,12.48278,3
3,Paris,France,"48.85667, 2.35222",13024518,48.85667,2.35222,4
4,Barcelona,Spain,"41.38278, 2.17694",840000,41.38278,2.17694,5
5,Milan,Italy,"45.46694, 9.19000",371498,45.46694,9.19000,6
6,Amsterdam,Netherlands,"52.37278, 4.89361",480394,52.37278,4.89361,7
7,Stockholm,Sweden,"59.32944, 18.06861",2121000,59.32944,18.06861,8
8,Oslo,Norway,"59.91333, 10.73889",64235,59.91333,10.73889,9
9,Helsinki,Finland,"60.17083, 24.93750",559558,60.17083,24.93750,10
10,Prague,Czech Republic,"50.08750, 14.42139",709418,50.08750,14.42139,11
11,Madrid,Spain,"40.41694, -3.70333",791667,40.41694,-3.70333,12
12,Budapest,Hungary,"47.49250, 19.05139",997958,47.49250,19.05139,13
13,Madrid,Spain,"40.41694, -3.70333",791667,40.41694,-3.70333,14
14,Copenhagen,Denmark,"55.67611, 12.56833",366301,55.67611,12.56833,15
15,Athens,Greece,"37.98417, 23.72806",638281,37.98417,23.72806,16
16,London,England,"51.50722, -0.12750",14800000,51.50722,-0.12750,17
17,Cologne,Germany,"50.93639, 6.95278",711712,50.93639,6.95278,18
18,Hamburg,Germany,"53.550, 10.000",945532,53.55000,10.00000,19
19,Munich,Germany,"48.13750, 11.57500",991144,48.13750,11.57500,20
20,Bucharest,,"44.43250, 26.10389",716961,44.43250,26.10389,21
21,Dublin,Ireland,"53.35000, -6.26028",458154,53.35000,-6.26028,22
22,Edinburgh,Scotland,"55.95333, -3.18917",518500,55.95333,-3.18917,23
23,Sofia,Bulgaria,"42.70, 23.33",1667314,42.70000,23.33000,24

## Alternative with API

In [ ]:
# def get_q_code(city_name):
#     url = f"https://www.wikidata.org/w/index.php?search={city_name}&title=Special:Search&profile=advanced&fulltext=1&advancedSearch-current=%7B%7D&ns0=1"
#     response = requests.get(url)

#     if response.status_code == 200:
#         soup = BeautifulSoup(response.text, 'html.parser')
#         result = soup.find("div", {"class": "mw-search-result-heading"})
#         if result:
#             link = result.find("a")
#             if link:
#                 href = link.get("href")
#                 q_code = href.split("/")[-1]
#                 return q_code

#     return None

# q_codes = {}

# for city in city_names:
#     q_code = get_q_code(city)
#     if q_code:
#         q_codes[city] = q_code

# q_codes

In [ ]:
# q_codes_df = pd.DataFrame(q_codes, index = ["id"])
# q_codes_df
# list_cityid_df = q_codes_df.transpose()
# list_cityid = list_cityid_df["id"].tolist()
# list_cityid

In [ ]:
# # request header for the request on the GeoDB Cities API
# headers = {
#     'x-rapidapi-host': "wft-geo-db.p.rapidapi.com",
#     'x-rapidapi-key': "54cd9c42c7msha6bb16591f4baa6p158d2cjsnf0f332d4bf20"
# }

# def get_city_data(city_id):
#     time.sleep(2)                                                # due to rate limit of API
#     city_url = f"https://wft-geo-db.p.rapidapi.com/v1/geo/cities/{city_id}"
#     city_response = requests.request("GET", city_url, headers=headers)
#     city_data = city_response.json()

#     if 'data' in city_data and 'wikiDataId' in city_data['data']:
#         return {
#             'wikidata_id': city_data['data']['wikiDataId'],
#             'city': city_data['data'].get('city', None),
#             'country': city_data['data'].get('country', None),
#             'country_code': city_data['data'].get('countryCode', None),
#             'population': city_data['data'].get('population', None),
#             'elevation_meters': city_data['data'].get('elevationMeters', None),
#             'latitude': city_data['data'].get('latitude', None),
#             'longitude': city_data['data'].get('longitude', None)
#         }
#     else:
#         return None  # Return None if expected data is not present in the response

# cities_data = []

# for city_id in list_cityid:
#     try:
#         city_data = get_city_data(city_id)
#         if city_data is not None:
#             cities_data.append(city_data)
#     except Exception as e:
#         print(f"An error occurred for city ID {city_id}: {str(e)}")

# cities_df = pd.DataFrame(cities_data)
# cities_df

# List of nearby airports

In [17]:
# coordinates of cities in a list
coordinates_list = []

for index, row in cities_df.iterrows():
    lat = row["Latitude"]
    lon = row["Longitude"]
    coordinates_list.append({"lat": lat, "lon": lon})

print(coordinates_list)

[{'lat': 52.52, 'lon': 13.405}, {'lat': 48.20833, 'lon': 16.3725}, {'lat': 41.89333, 'lon': 12.48278}]

In [16]:
# AeroDataBox
#get nearest airport
def get_nearest_airports(lat, lon):
    url = "https://aerodatabox.p.rapidapi.com/airports/search/location"
    querystring = {"lat": str(lat), "lon": str(lon), "radiusKm": "50", "limit": "10", "withFlightInfoOnly": "true"}
    headers = {
        "X-RapidAPI-Key": "YOUR_KEY",
        "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
    }
    response = requests.get(url, headers=headers, params=querystring)
    return response.json()  

    if response.status_code != 200:
        print(f"Error - Status Code: {response.status_code}")
        print(f"Response Content: {response.text}")
        print('Problem with status code')

airport_data = []

for coord in coordinates_list:
    response_data = get_nearest_airports(coord["lat"], coord["lon"])
    airport_data.extend(response_data["items"])  
    
airport_data_df = pd.DataFrame(airport_data)

In [17]:
airport_data_df

,icao,iata,name,shortName,municipalityName,location,countryCode
0,EDDB,BER,Berlin Brandenburg,Brandenburg,Berlin,"{'lat': 52.35139, 'lon': 13.493889}",DE
1,LOWW,VIE,Vienna Schwechat,Schwechat,Vienna,"{'lat': 48.1103, 'lon': 16.5697}",AT
2,LIRA,CIA,Roma Ciampino–G. B. Pastine,Ciampino–G. B. Pastine,Roma,"{'lat': 41.7994, 'lon': 12.5949}",IT
3,LIRF,FCO,Rome Leonardo da Vinci–Fiumicino,Leonardo da Vinci–Fiumicino,Rome,"{'lat': 41.8045, 'lon': 12.2508}",IT

In [18]:
airport_data_df.rename(columns={'location': 'Coordinates'}, inplace=True)
airport_data_df['Latitude'] = airport_data_df['Coordinates'].apply(lambda x: x['lat'])
airport_data_df['Longitude'] = airport_data_df['Coordinates'].apply(lambda x: x['lon'])
airport_data_df

,icao,iata,name,shortName,municipalityName,Coordinates,countryCode,Latitude,Longitude
0,EDDB,BER,Berlin Brandenburg,Brandenburg,Berlin,"{'lat': 52.35139, 'lon': 13.493889}",DE,52.35139,13.493889
1,LOWW,VIE,Vienna Schwechat,Schwechat,Vienna,"{'lat': 48.1103, 'lon': 16.5697}",AT,48.11030,16.569700
2,LIRA,CIA,Roma Ciampino–G. B. Pastine,Ciampino–G. B. Pastine,Roma,"{'lat': 41.7994, 'lon': 12.5949}",IT,41.79940,12.594900
3,LIRF,FCO,Rome Leonardo da Vinci–Fiumicino,Leonardo da Vinci–Fiumicino,Rome,"{'lat': 41.8045, 'lon': 12.2508}",IT,41.80450,12.250800

In [19]:
# Distance from city center to airport

# Haversine function
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

# Add a new column in airport_data_df to store the distances
airport_data_df['Distance_to_city'] = 0.0

# Calculate and update the distances
for airport_index, airport_row in airport_data_df.iterrows():
    airport_lat = airport_row['Coordinates']['lat']  
    airport_lon = airport_row['Coordinates']['lon']  
    
    distances = []
    for city_index, city_row in cities_df.iterrows():
        city_lat = city_row['Latitude']
        city_lon = city_row['Longitude']
        distance = haversine(city_lon, city_lat, airport_lon, airport_lat)
        distances.append(distance)
    
    # Get the minimum distance to any city
    min_distance = min(distances)
    airport_data_df.at[airport_index, 'Distance_to_city'] = min_distance

airport_data_df

,icao,iata,name,shortName,municipalityName,Coordinates,countryCode,Latitude,Longitude,Distance_to_city
0,EDDB,BER,Berlin Brandenburg,Brandenburg,Berlin,"{'lat': 52.35139, 'lon': 13.493889}",DE,52.35139,13.493889,19.693126
1,LOWW,VIE,Vienna Schwechat,Schwechat,Vienna,"{'lat': 48.1103, 'lon': 16.5697}",AT,48.11030,16.569700,18.242009
2,LIRA,CIA,Roma Ciampino–G. B. Pastine,Ciampino–G. B. Pastine,Roma,"{'lat': 41.7994, 'lon': 12.5949}",IT,41.79940,12.594900,13.976458
3,LIRF,FCO,Rome Leonardo da Vinci–Fiumicino,Leonardo da Vinci–Fiumicino,Rome,"{'lat': 41.8045, 'lon': 12.2508}",IT,41.80450,12.250800,21.604967

In [20]:
# Data Cleaning
airport_data_df.rename(columns={'countryCode': 'Country_Code'}, inplace=True)
airport_data_df.drop('Coordinates', axis=1, inplace=True)
airport_data_df.drop_duplicates(subset=['icao'], inplace=True)
airport_data_df

,icao,iata,name,shortName,municipalityName,Country_Code,Latitude,Longitude,Distance_to_city
0,EDDB,BER,Berlin Brandenburg,Brandenburg,Berlin,DE,52.35139,13.493889,19.693126
1,LOWW,VIE,Vienna Schwechat,Schwechat,Vienna,AT,48.11030,16.569700,18.242009
2,LIRA,CIA,Roma Ciampino–G. B. Pastine,Ciampino–G. B. Pastine,Roma,IT,41.79940,12.594900,13.976458
3,LIRF,FCO,Rome Leonardo da Vinci–Fiumicino,Leonardo da Vinci–Fiumicino,Rome,IT,41.80450,12.250800,21.604967

In [21]:
duplicate_rows_icao = airport_data_df[airport_data_df.duplicated(subset=['icao'])]

duplicate_rows_icao

Empty DataFrame
Columns: [icao, iata, name, shortName, municipalityName, Country_Code, Latitude, Longitude, Distance_to_city]
Index: []

## Alternative with API Aviation Reference Data

In [28]:
# # Aviation Reference Data
# # get nearest airport

# def get_nearest_airports(lat, lon, radius=100):
#     url = "https://aviation-reference-data.p.rapidapi.com/airports/search"
#     querystring = {"lat": str(lat), "lon": str(lon), "radius": str(radius)}
#     headers = {
#         "X-RapidAPI-Key": "YOUR_KEY",
#         "X-RapidAPI-Host": "aviation-reference-data.p.rapidapi.com"
#     }
#     response = requests.get(url, headers=headers, params=querystring)
#     return response.json()

# airport_data = []

# for coord in coordinates_list:
#     response_data = get_nearest_airports(coord["lat"], coord["lon"])
#     airport_data.extend(response_data)

# airport_data_df = pd.DataFrame(airport_data)
# airport_data_df

In [29]:
# # Distance from city center to airport

# # Haversine function
# def haversine(lon1, lat1, lon2, lat2):
#     """
#     Calculate the great circle distance between two points 
#     on the earth (specified in decimal degrees)
#     """
#     # convert decimal degrees to radians 
#     lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

#     # haversine formula 
#     dlon = lon2 - lon1 
#     dlat = lat2 - lat1 
#     a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
#     c = 2 * asin(sqrt(a)) 
#     r = 6371 # Radius of earth in kilometers. Use 3956 for miles
#     return c * r

# # Add a new column in airport_data_df to store the distances
# airport_data_df['Distance_to_city'] = 0.0

# # Calculate and update the distances
# for airport_index, airport_row in airport_data_df.iterrows():
#     airport_lat = airport_row['latitude']
#     airport_lon = airport_row['longitude']
    
#     distances = []
#     for city_index, city_row in cities_df.iterrows():
#         city_lat = city_row['Latitude']
#         city_lon = city_row['Longitude']
#         distance = haversine(city_lon, city_lat, airport_lon, airport_lat)
#         distances.append(distance)
    
#     # Get the minimum distance to any city
#     min_distance = min(distances)
#     airport_data_df.at[airport_index, 'Distance_to_city'] = min_distance

# airport_data_df

# Flights that arrive tomorrow at nearby airport

In [1]:
icao_list = airport_data_df["icao"].tolist()
icao_list

In [27]:
#Aerodata Box
# time.sleep(60)                                              # API has rate limit of 60 requests / min, time.sleep necessary if flights code should run directly after airports code
def tomorrows_flight_arrivals(icao_list):
# Get today's date in Berlin timezone
today = datetime.now().astimezone(timezone('Europe/Berlin')).date()
# Calculate tomorrow's date
tomorrow = (today + timedelta(days=1))

# Initialize an empty list to store flight data
list_for_df = []

# Loop over each ICAO code in the input list
for icao in icao_list:
    # Define the two time periods for which to fetch data
    times = [["00:00", "11:59"], ["12:00", "23:59"]]

    # Loop over each time period
    for time in times:
        # Construct the URL for the API request
        url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao}/{tomorrow}T{time[0]}/{tomorrow}T{time[1]}"
        # Define the query parameters for the API request
        querystring = {
            "withLeg": "true",
            "direction": "Arrival",
            "withCancelled": "false",
            "withCodeshared": "true",
            "withCargo": "false",
            "withPrivate": "false"
        }
        # Define the headers for the API request
        headers = {
            'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
            'x-rapidapi-key': "YOUR_KEY"
        }
        # Make the API request
        response = requests.request("GET", url, headers=headers, params=querystring)
        # Parse the JSON response

        if response.status_code == 204:
            continue
        if response.status_code != 200:
            print(f"Error - Status Code: {response.status_code}")
            print(f"Response Content: {response.text}")
            print('Problem with status code')
            # pdb.set_trace()

        try:
            flights_json = response.json()
        except:
            # pdb.set_trace()
            pass  # Handle the exception appropriately if needed.

        # Loop over each flight in the response
        for flight in flights_json['arrivals']:
            # Initialize an empty dictionary to store flight data
            flights_dict = {}
            # Store the ICAO code and flight data in the dictionary
            flights_dict['arrival_icao'] = icao
            # Use the .get() method to avoid KeyError if a key doesn't exist in the dictionary
            flights_dict['arrival_time_local'] = flight['arrival'].get('scheduledTimeLocal', None)
            flights_dict['arrival_terminal'] = flight['arrival'].get('terminal', None)
            flights_dict['departure_city'] = flight['departure']['airport'].get('name', None)
            flights_dict['departure_icao'] = flight['departure']['airport'].get('icao', None)
            flights_dict['departure_time_local'] = flight['departure'].get('scheduledTimeLocal', None)
            flights_dict['airline'] = flight['airline'].get('name', None)
            flights_dict['flight_number'] = flight.get('number', None)
            # Store the current date in Berlin timezone
            flights_dict['data_retrieved_on'] = datetime.now().astimezone(timezone('Europe/Berlin')).date()
            # Append the flight dictionary to the list
            list_for_df.append(flights_dict)
    time.sleep(2)

# Convert the list of flight dictionaries to a DataFrame and return it
return pd.DataFrame(list_for_df)

In [28]:
flights_data_df = tomorrows_flight_arrivals(icao_list)

In [29]:
flights_data_df['arrival_time_local'] = pd.to_datetime(flights_data_df['arrival_time_local'], utc=True)
flights_data_df['arrival_time_local'] = flights_data_df['arrival_time_local'].dt.tz_convert('Europe/Berlin')

flights_data_df['departure_time_local'] = pd.to_datetime(flights_data_df['departure_time_local'], utc=True)
flights_data_df['departure_time_local'] = flights_data_df['departure_time_local'].dt.tz_convert('Europe/Berlin')

flights_data_df

,arrival_icao,arrival_time_local,arrival_terminal,departure_city,departure_icao,departure_time_local,airline,flight_number,data_retrieved_on
0,EDDB,2023-08-05 05:45:00+02:00,1,İzmir,LTBJ,2023-08-05 02:40:00+02:00,SunExpress,XQ 966,2023-08-04
1,EDDB,2023-08-05 06:15:00+02:00,1,Reykjavik,BIKF,2023-08-05 02:45:00+02:00,Icelandair,FI 518,2023-08-04
2,EDDB,2023-08-05 06:50:00+02:00,1,Prishtina,BKPR,2023-08-05 04:30:00+02:00,Caspian Airlines,IV 680,2023-08-04
3,EDDB,2023-08-05 07:40:00+02:00,1,Riga,EVRA,2023-08-05 06:05:00+02:00,Air Baltic,BT 211,2023-08-04
4,EDDB,2023-08-05 07:05:00+02:00,1,New York,KJFK,2023-08-04 22:50:00+02:00,Delta Air Lines,DL 92,2023-08-04
...,...,...,...,...,...,...,...,...,...
2027,LIRF,2023-08-05 23:00:00+02:00,1,Palermo,LICJ,2023-08-05 21:50:00+02:00,Ryanair,FR 5841,2023-08-04
2028,LIRF,2023-08-05 23:05:00+02:00,1,Barcelona,LEBL,2023-08-05 21:15:00+02:00,Ryanair,FR 6985,2023-08-04
2029,LIRF,2023-08-05 23:55:00+02:00,1,Madrid,LEMD,2023-08-05 21:30:00+02:00,Ryanair,FR 9674,2023-08-04
2030,LIRF,2023-08-05 23:20:00+02:00,3,Istanbul,LTFM,2023-08-05 20:45:00+02:00,Turkish,TK 1361,2023-08-04
2031,LIRF,2023-08-05 23:35:00+02:00,1,Mykonos Island,LGMK,2023-08-05 21:20:00+02:00,Vueling,VY 3319,2023-08-04

## Alternative with API Aviationstack (resumption of Alternative with Aviation Reference Data)

In [2]:
# # icao 
# icao_list = airport_data_df[airport_data_df['icaoCode'] != 'None']['icaoCode'].tolist()

# icao_list

In [3]:
# # Aviationstack
# icao_list = [value for value in icao_list if value is not None]
# icao_list

In [4]:
# iata_list = airport_data_df[airport_data_df['iataCode'] != 'None']['iataCode'].tolist()

# iata_list

In [66]:
# get flights for IATA
# def get_flights_data_for_iata(iata):
#     params = {
#         'access_key': 'YOUR_KEY',
#         'limit': 10,
#         'arr_icao': iata
#     }

#     flights_data = requests.get('http://api.aviationstack.com/v1/flights', params)

#     flights_list = flights_data.json()
#     flights_df = pd.json_normalize(flights_list["data"],
#                                     record_path=None,
#                                     meta=["flight_date", "flight_status"],
#                                     sep="_"
#                                     )
    
#     selected_columns = ["arrival_airport", "arrival_scheduled"]
#     flights_df_clean = flights_df.loc[:, selected_columns]
#     flights_df_clean['arrival_scheduled'] = pd.to_datetime(flights_df_clean['arrival_scheduled'])
    
#     return flights_df_clean


# all_flights_df = pd.DataFrame()

# for iata in iata_list:
#     params = {
#         'access_key': 'YOUR_KEY',
#         'limit': 10,
#         'arr_icao': iata
#     }
#     flights_data = requests.get('http://api.aviationstack.com/v1/flights', params)
#     flights_list = flights_data.json()
    
#     flights_df = pd.json_normalize(flights_list["data"],
#                                    record_path=None,
#                                    meta=["flight_date", "flight_status"],
#                                    sep="_"
#                                    )

#     selected_columns = ["arrival_airport", "arrival_scheduled"]
#     flights_df_clean = flights_df.loc[:, selected_columns]
#     flights_df_clean['arrival_scheduled'] = pd.to_datetime(flights_df_clean['arrival_scheduled'])
    
#     all_flights_df = pd.concat([all_flights_df, flights_df_clean])

# current_date = datetime.utcnow().date()
# tomorrow_date = current_date + timedelta(days=1)

# tomorrow_flights = all_flights_df[all_flights_df['arrival_scheduled'].dt.date == tomorrow_date]

# tomorrow_flights

In [27]:
# # get flights for ICAO:
# def get_flights_data_for_icao(icao):
#     params = {
#         'access_key': 'YOUR_KEY',
#         'limit': 10,
#         'arr_icao': icao
#     }

#     flights_data = requests.get('http://api.aviationstack.com/v1/flights', params)

#     flights_list = flights_data.json()
#     flights_df = pd.json_normalize(flights_list["data"],
#                                     record_path=None,
#                                     meta=["flight_date", "flight_status"],
#                                     sep="_"
#                                     )
    
#     selected_columns = ["arrival_airport", "arrival_scheduled"]
#     flights_df_clean = flights_df.loc[:, selected_columns]
#     flights_df_clean['arrival_scheduled'] = pd.to_datetime(flights_df_clean['arrival_scheduled'])
    
#     return flights_df_clean


# all_flights_df = pd.DataFrame()

# for icao in icao_list:
#     params = {
#         'access_key': 'YOUR_KEY',
#         'limit': 10,
#         'arr_icao': icao
#     }
#     flights_data = requests.get('http://api.aviationstack.com/v1/flights', params)
#     flights_list = flights_data.json()
    
#     flights_df = pd.json_normalize(flights_list["data"],
#                                    record_path=None,
#                                    meta=["flight_date", "flight_status"],
#                                    sep="_"
#                                    )

#     selected_columns = ["arrival_airport", "arrival_scheduled"]
#     flights_df_clean = flights_df.loc[:, selected_columns]
#     flights_df_clean['arrival_scheduled'] = pd.to_datetime(flights_df_clean['arrival_scheduled'])
    
#     all_flights_df = pd.concat([all_flights_df, flights_df_clean])

# current_date = datetime.utcnow().date()
# tomorrow_date = current_date + timedelta(days=1)

# tomorrow_flights = all_flights_df[all_flights_df['arrival_scheduled'].dt.date == tomorrow_date]

# tomorrow_flights

# Weather data

In [59]:
def get_weather (city_names):
    API_key = "YOUR_KEY"
    # city_names = ["London", "Barcelona", "Berlin"]
    weather = []

    for city_name in city_names:
        weather_data = requests.get(f"https://api.openweathermap.org/data/2.5/forecast?q={city_name}&appid={API_key}")
        weather_list = weather_data.json()["list"]

        for i in weather_list:
            dt_txt = i["dt_txt"]
            temp = i["main"]["temp"]
            feels_like = i["main"]["feels_like"]
    #         temp_min = i["main"]["temp_min"]
    #         temp_max = i["main"]["temp_max"]
            pressure = i["main"]["pressure"]
            humidity = i["main"]["humidity"]
            weather_description = i["weather"][0]["main"]
            weather_description_2 = i["weather"][0]["description"]
            wind_speed = i["wind"]["speed"]
    #         wind_deg = i["wind"]["deg"]
            visibility = i["visibility"]
            try:
                rain = i["rain"]["3h"]
            except KeyError:
                rain = 0
            try:
                snow = i["snow"]["3h"]
            except KeyError:
                snow = 0

            row = {
                'City': city_name,
                'datetime': dt_txt,
                'temp': temp,
                'feels_like': feels_like,
    #             'temp_min': temp_min,
    #             'temp_max': temp_max,
                'pressure': pressure,
                'humidity': humidity,
                'weather_description_main': weather_description,
                'weather_description': weather_description_2,
                'wind_speed': wind_speed,
    #             'wind_deg': wind_deg,
                'visibility': visibility,
                'rain_duration': rain,
                'snow_duration': snow
            }

            weather.append(row)

In [60]:
weather_df = pd.DataFrame(weather)
weather_df

,City,datetime,temp,feels_like,pressure,humidity,weather_description_main,weather_description,wind_speed,visibility,rain_duration,snow_duration
0,Berlin,2023-08-04 15:00:00,295.39,295.18,1002,58,Clouds,scattered clouds,3.09,10000,0.0,0
1,Berlin,2023-08-04 18:00:00,293.92,293.65,1007,61,Clouds,broken clouds,2.40,10000,0.0,0
2,Berlin,2023-08-04 21:00:00,290.58,290.26,1014,72,Clouds,overcast clouds,2.06,10000,0.0,0
3,Berlin,2023-08-05 00:00:00,288.83,288.59,1014,82,Clouds,broken clouds,1.64,10000,0.0,0
4,Berlin,2023-08-05 03:00:00,287.76,287.55,1014,87,Clouds,overcast clouds,1.54,10000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
115,Rome,2023-08-09 00:00:00,300.00,300.79,1013,56,Clouds,broken clouds,1.73,10000,0.0,0
116,Rome,2023-08-09 03:00:00,297.81,297.85,1015,58,Clouds,overcast clouds,1.72,10000,0.0,0
117,Rome,2023-08-09 06:00:00,295.03,294.97,1014,65,Clouds,overcast clouds,0.40,10000,0.0,0
118,Rome,2023-08-09 09:00:00,293.73,293.65,1014,69,Clouds,few clouds,0.15,10000,0.0,0
119,Rome,2023-08-09 12:00:00,294.69,294.81,1015,73,Clear,clear sky,0.92,10000,0.0,0

# Send dfs to MySQL / AWS RDS

In [47]:
engine = db.create_engine("mysql+mysqlconnector://admin:YOUR_PW@YOUR_ENDPOINT/mydb?charset=utf8mb4", echo=True)

In [48]:
connection = engine.connect()

2023-08-04 14:59:28,382 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-08-04 14:59:28,383 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-08-04 14:59:28,631 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-08-04 14:59:28,633 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-08-04 14:59:28,775 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-08-04 14:59:28,777 INFO sqlalchemy.engine.Engine [raw sql] {}

In [49]:
cities_df.to_sql("cities_df", connection, if_exists="append", index = False)

2023-08-04 14:59:48,036 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-08-04 14:59:48,037 INFO sqlalchemy.engine.Engine [generated in 0.06176s] {'table_schema': 'mydb', 'table_name': 'cities_df'}
2023-08-04 14:59:48,159 INFO sqlalchemy.engine.Engine INSERT INTO cities_df (`City`, `Country`, `Coordinates`, `Latitude`, `Longitude`, city_id) VALUES (%(City)s, %(Country)s, %(Coordinates)s, %(Latitude)s, %(Longitude)s, %(city_id)s)
2023-08-04 14:59:48,161 INFO sqlalchemy.engine.Engine [generated in 0.06003s] ({'City': 'Berlin', 'Country': 'Germany', 'Coordinates': '52.52000,  13.40500', 'Latitude': 52.52, 'Longitude': 13.405, 'city_id': 1}, {'City': 'Vienna', 'Country': 'Austria', 'Coordinates': '48.20833,  16.37250', 'Latitude': 48.20833, 'Longitude': 16.3725, 'city_id': 2}, {'City': 'Rome', 'Country': 'Italy', 'Coordinates': '41.89333,  12.48278', 'Latitude': 41.89333, 'Longitude': 12.48278, 'city_id': 3})
2023-08-04 14:59:48,223 INFO sqlalchemy.engine.Engine COMMIT

3

In [53]:
weather_df.to_sql("weather_df", connection, if_exists="append", index = False)

2023-08-04 15:02:46,136 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-08-04 15:02:46,137 INFO sqlalchemy.engine.Engine [cached since 178.2s ago] {'table_schema': 'mydb', 'table_name': 'weather_df'}
2023-08-04 15:02:46,269 INFO sqlalchemy.engine.Engine INSERT INTO weather_df (`City`, datetime, temp, feels_like, pressure, humidity, weather_description_main, weather_description, wind_speed, visibility, rain_duration, snow_duration) VALUES (%(City)s, %(datetime)s, %(temp)s, %(feels_like)s, %(pressure)s, %(humidity)s, %(weather_description_main)s, %(weather_description)s, %(wind_speed)s, %(visibility)s, %(rain_duration)s, %(snow_duration)s)
2023-08-04 15:02:46,270 INFO sqlalchemy.engine.Engine [generated in 0.06432s] ({'City': 'Berlin', 'datetime': '2023-08-04 15:00:00', 'temp': 295.39, 'feels_like': 295.18, 'pressure': 1002, 'humidity': 58, 'weather_description_main': 'Clouds', 'weather_description': 'scattered clouds', 'wind_speed': 3.09, 'visibility': 10000, 'rain_duration': 0.0, 'snow_duration': 0}, {'City': 'Berlin', 'datetime': '2023-08-04 18:00:00', 'temp': 293.92, 'feels_like': 293.65, 'pressure': 1007, 'humidity': 61, 'weather_description_main': 'Clouds', 'weather_description': 'broken clouds', 'wind_speed': 2.4, 'visibility': 10000, 'rain_duration': 0.0, 'snow_duration': 0}, {'City': 'Berlin', 'datetime': '2023-08-04 21:00:00', 'temp': 290.58, 'feels_like': 290.26, 'pressure': 1014, 'humidity': 72, 'weather_description_main': 'Clouds', 'weather_description': 'overcast clouds', 'wind_speed': 2.06, 'visibility': 10000, 'rain_duration': 0.0, 'snow_duration': 0}, {'City': 'Berlin', 'datetime': '2023-08-05 00:00:00', 'temp': 288.83, 'feels_like': 288.59, 'pressure': 1014, 'humidity': 82, 'weather_description_main': 'Clouds', 'weather_description': 'broken clouds', 'wind_speed': 1.64, 'visibility': 10000, 'rain_duration': 0.0, 'snow_duration': 0}, {'City': 'Berlin', 'datetime': '2023-08-05 03:00:00', 'temp': 287.76, 'feels_like': 287.55, 'pressure': 1014, 'humidity': 87, 'weather_description_main': 'Clouds', 'weather_description': 'overcast clouds', 'wind_speed': 1.54, 'visibility': 10000, 'rain_duration': 0.0, 'snow_duration': 0}, {'City': 'Berlin', 'datetime': '2023-08-05 06:00:00', 'temp': 289.13, 'feels_like': 288.92, 'pressure': 1015, 'humidity': 82, 'weather_description_main': 'Clouds', 'weather_description': 'overcast clouds', 'wind_speed': 2.24, 'visibility': 10000, 'rain_duration': 0.0, 'snow_duration': 0}, {'City': 'Berlin', 'datetime': '2023-08-05 09:00:00', 'temp': 293.13, 'feels_like': 292.83, 'pressure': 1015, 'humidity': 63, 'weather_description_main': 'Clouds', 'weather_description': 'overcast clouds', 'wind_speed': 1.49, 'visibility': 10000, 'rain_duration': 0.0, 'snow_duration': 0}, {'City': 'Berlin', 'datetime': '2023-08-05 12:00:00', 'temp': 295.77, 'feels_like': 295.37, 'pressure': 1013, 'humidity': 49, 'weather_description_main': 'Clouds', 'weather_description': 'overcast clouds', 'wind_speed': 0.87, 'visibility': 10000, 'rain_duration': 0.0, 'snow_duration': 0}  ... displaying 10 of 120 total bound parameter sets ...  {'City': 'Rome', 'datetime': '2023-08-09 09:00:00', 'temp': 293.73, 'feels_like': 293.65, 'pressure': 1014, 'humidity': 69, 'weather_description_main': 'Clouds', 'weather_description': 'few clouds', 'wind_speed': 0.15, 'visibility': 10000, 'rain_duration': 0.0, 'snow_duration': 0}, {'City': 'Rome', 'datetime': '2023-08-09 12:00:00', 'temp': 294.69, 'feels_like': 294.81, 'pressure': 1015, 'humidity': 73, 'weather_description_main': 'Clear', 'weather_description': 'clear sky', 'wind_speed': 0.92, 'visibility': 10000, 'rain_duration': 0.0, 'snow_duration': 0})
2023-08-04 15:02:46,336 INFO sqlalchemy.engine.Engine COMMIT

120

In [54]:
airport_data_df.to_sql("airport_data_df", connection, if_exists="append", index = False)

2023-08-04 15:02:50,633 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-08-04 15:02:50,635 INFO sqlalchemy.engine.Engine [cached since 182.7s ago] {'table_schema': 'mydb', 'table_name': 'airport_data_df'}
2023-08-04 15:02:50,759 INFO sqlalchemy.engine.Engine INSERT INTO airport_data_df (icao, iata, name, `shortName`, `municipalityName`, `Country_Code`, `Latitude`, `Longitude`, `Distance_to_city`) VALUES (%(icao)s, %(iata)s, %(name)s, %(shortName)s, %(municipalityName)s, %(Country_Code)s, %(Latitude)s, %(Longitude)s, %(Distance_to_city)s)
2023-08-04 15:02:50,760 INFO sqlalchemy.engine.Engine [generated in 0.06104s] ({'icao': 'EDDB', 'iata': 'BER', 'name': 'Berlin Brandenburg', 'shortName': 'Brandenburg', 'municipalityName': 'Berlin', 'Country_Code': 'DE', 'Latitude': 52.35139, 'Longitude': 13.493889, 'Distance_to_city': 19.693125905292153}, {'icao': 'LOWW', 'iata': 'VIE', 'name': 'Vienna Schwechat', 'shortName': 'Schwechat', 'municipalityName': 'Vienna', 'Country_Code': 'AT', 'Latitude': 48.1103, 'Longitude': 16.5697, 'Distance_to_city': 18.242008869138058}, {'icao': 'LIRA', 'iata': 'CIA', 'name': 'Roma Ciampino–G. B. Pastine', 'shortName': 'Ciampino–G. B. Pastine', 'municipalityName': 'Roma', 'Country_Code': 'IT', 'Latitude': 41.7994, 'Longitude': 12.5949, 'Distance_to_city': 13.976458180406338}, {'icao': 'LIRF', 'iata': 'FCO', 'name': 'Rome Leonardo da Vinci–Fiumicino', 'shortName': 'Leonardo da Vinci–Fiumicino', 'municipalityName': 'Rome', 'Country_Code': 'IT', 'Latitude': 41.8045, 'Longitude': 12.2508, 'Distance_to_city': 21.60496654257499})
2023-08-04 15:02:50,827 INFO sqlalchemy.engine.Engine COMMIT

4

In [55]:
flights_data_df.to_sql("flights_data_df", connection, if_exists="append", index = False)

2023-08-04 15:02:56,652 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-08-04 15:02:56,654 INFO sqlalchemy.engine.Engine [cached since 188.7s ago] {'table_schema': 'mydb', 'table_name': 'flights_data_df'}
2023-08-04 15:02:56,819 INFO sqlalchemy.engine.Engine INSERT INTO flights_data_df (arrival_icao, arrival_time_local, arrival_terminal, departure_city, departure_icao, departure_time_local, airline, flight_number, data_retrieved_on) VALUES (%(arrival_icao)s, %(arrival_time_local)s, %(arrival_terminal)s, %(departure_city)s, %(departure_icao)s, %(departure_time_local)s, %(airline)s, %(flight_number)s, %(data_retrieved_on)s)
2023-08-04 15:02:56,821 INFO sqlalchemy.engine.Engine [generated in 0.08759s] ({'arrival_icao': 'EDDB', 'arrival_time_local': datetime.datetime(2023, 8, 5, 5, 45, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'arrival_terminal': '1', 'departure_city': 'İzmir', 'departure_icao': 'LTBJ', 'departure_time_local': datetime.datetime(2023, 8, 5, 2, 40, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'airline': 'SunExpress', 'flight_number': 'XQ 966', 'data_retrieved_on': datetime.date(2023, 8, 4)}, {'arrival_icao': 'EDDB', 'arrival_time_local': datetime.datetime(2023, 8, 5, 6, 15, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'arrival_terminal': '1', 'departure_city': 'Reykjavik', 'departure_icao': 'BIKF', 'departure_time_local': datetime.datetime(2023, 8, 5, 2, 45, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'airline': 'Icelandair', 'flight_number': 'FI 518', 'data_retrieved_on': datetime.date(2023, 8, 4)}, {'arrival_icao': 'EDDB', 'arrival_time_local': datetime.datetime(2023, 8, 5, 6, 50, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'arrival_terminal': '1', 'departure_city': 'Prishtina', 'departure_icao': 'BKPR', 'departure_time_local': datetime.datetime(2023, 8, 5, 4, 30, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'airline': 'Caspian Airlines', 'flight_number': 'IV 680', 'data_retrieved_on': datetime.date(2023, 8, 4)}, {'arrival_icao': 'EDDB', 'arrival_time_local': datetime.datetime(2023, 8, 5, 7, 40, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'arrival_terminal': '1', 'departure_city': 'Riga', 'departure_icao': 'EVRA', 'departure_time_local': datetime.datetime(2023, 8, 5, 6, 5, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'airline': 'Air Baltic', 'flight_number': 'BT 211', 'data_retrieved_on': datetime.date(2023, 8, 4)}, {'arrival_icao': 'EDDB', 'arrival_time_local': datetime.datetime(2023, 8, 5, 7, 5, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'arrival_terminal': '1', 'departure_city': 'New York', 'departure_icao': 'KJFK', 'departure_time_local': datetime.datetime(2023, 8, 4, 22, 50, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'airline': 'Delta Air Lines', 'flight_number': 'DL 92', 'data_retrieved_on': datetime.date(2023, 8, 4)}, {'arrival_icao': 'EDDB', 'arrival_time_local': datetime.datetime(2023, 8, 5, 7, 55, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'arrival_terminal': '1', 'departure_city': 'Paris', 'departure_icao': 'LFPG', 'departure_time_local': None, 'airline': 'EasyJet Europe', 'flight_number': 'EC 4631', 'data_retrieved_on': datetime.date(2023, 8, 4)}, {'arrival_icao': 'EDDB', 'arrival_time_local': datetime.datetime(2023, 8, 5, 7, 45, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'arrival_terminal': '2', 'departure_city': 'Bologna', 'departure_icao': 'LIPE', 'departure_time_local': datetime.datetime(2023, 8, 5, 6, 0, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'airline': 'Ryanair', 'flight_number': 'FR 137', 'data_retrieved_on': datetime.date(2023, 8, 4)}, {'arrival_icao': 'EDDB', 'arrival_time_local': datetime.datetime(2023, 8, 5, 7, 55, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'arrival_terminal': '1', 'departure_city': 'Frankfurt-am-Main', 'departure_icao': 'EDDF', 'departure_time_local': datetime.datetime(2023, 8, 5, 6, 45, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'airline': 'Lufthansa', 'flight_number': 'LH 170', 'data_retrieved_on': datetime.date(2023, 8, 4)}  ... displaying 10 of 2032 total bound parameter sets ...  {'arrival_icao': 'LIRF', 'arrival_time_local': datetime.datetime(2023, 8, 5, 23, 20, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'arrival_terminal': '3', 'departure_city': 'Istanbul', 'departure_icao': 'LTFM', 'departure_time_local': datetime.datetime(2023, 8, 5, 20, 45, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'airline': 'Turkish', 'flight_number': 'TK 1361', 'data_retrieved_on': datetime.date(2023, 8, 4)}, {'arrival_icao': 'LIRF', 'arrival_time_local': datetime.datetime(2023, 8, 5, 23, 35, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'arrival_terminal': '1', 'departure_city': 'Mykonos Island', 'departure_icao': 'LGMK', 'departure_time_local': datetime.datetime(2023, 8, 5, 21, 20, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>), 'airline': 'Vueling', 'flight_number': 'VY 3319', 'data_retrieved_on': datetime.date(2023, 8, 4)})
2023-08-04 15:02:57,160 INFO sqlalchemy.engine.Engine COMMIT

2032

In [62]:
sql_query = "SELECT * FROM cities_df"
result_df = pd.read_sql(sql_query, connection)
result_df

2023-08-03 15:04:58,881 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-08-03 15:04:58,883 INFO sqlalchemy.engine.Engine [cached since 2203s ago] {'table_schema': 'mydb', 'table_name': 'SELECT * FROM cities_df'}
2023-08-03 15:04:58,886 INFO sqlalchemy.engine.Engine SELECT * FROM cities_df
2023-08-03 15:04:58,886 INFO sqlalchemy.engine.Engine [raw sql] {}

,City,Country,Country_Codes,Coordinates,Latitude,Longitude,city_id
0,Berlin,Germany,None,"52.52000, 13.40500",52.5200,13.40500,1
1,Vienna,Austria,None,"48.20833, 16.37250",48.2083,16.37250,2
2,Rome,Italy,None,"41.89333, 12.48278",41.8933,12.48280,3
3,Paris,France,None,"48.85667, 2.35222",48.8567,2.35222,4
4,Barcelona,Spain,None,"41.38278, 2.17694",41.3828,2.17694,5
5,Milan,Italy,None,"45.46694, 9.19000",45.4669,9.19000,6
6,Amsterdam,Netherlands,None,"52.37278, 4.89361",52.3728,4.89361,7
7,Stockholm,Sweden,None,"59.32944, 18.06861",59.3294,18.06860,8
8,Oslo,Norway,None,"59.91333, 10.73889",59.9133,10.73890,9
9,Helsinki,Finland,None,"60.17083, 24.93750",60.1708,24.93750,10
10,Prague,Czech Republic,None,"50.08750, 14.42139",50.0875,14.42140,11
11,Madrid,Spain,None,"40.41694, -3.70333",40.4169,-3.70333,12
12,Budapest,Hungary,None,"47.49250, 19.05139",47.4925,19.05140,13
13,Madrid,Spain,None,"40.41694, -3.70333",40.4169,-3.70333,14
14,Copenhagen,Denmark,None,"55.67611, 12.56833",55.6761,12.56830,15
15,Athens,Greece,None,"37.98417, 23.72806",37.9842,23.72810,16
16,London,England,None,"51.50722, -0.12750",51.5072,-0.12750,17
17,Cologne,Germany,None,"50.93639, 6.95278",50.9364,6.95278,18
18,Hamburg,Germany,None,"53.550, 10.000",53.5500,10.00000,19
19,Munich,Germany,None,"48.13750, 11.57500",48.1375,11.57500,20
20,Bucharest,,None,"44.43250, 26.10389",44.4325,26.10390,21
21,Dublin,Ireland,None,"53.35000, -6.26028",53.3500,-6.26028,22
22,Edinburgh,Scotland,None,"55.95333, -3.18917",55.9533,-3.18917,23
23,Sofia,Bulgaria,None,"42.70, 23.33",42.7000,23.33000,24

In [65]:
sql_query = "SELECT * FROM weather_df"
result_df = pd.read_sql(sql_query, connection)
result_df

2023-08-03 15:05:27,011 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-08-03 15:05:27,012 INFO sqlalchemy.engine.Engine [cached since 2232s ago] {'table_schema': 'mydb', 'table_name': 'SELECT * FROM weather_df'}
2023-08-03 15:05:27,014 INFO sqlalchemy.engine.Engine SELECT * FROM weather_df
2023-08-03 15:05:27,014 INFO sqlalchemy.engine.Engine [raw sql] {}

,City,datetime,temp,feels_like,pressure,humidity,weather_description_main,weather_description,wind_speed,visibility,rain_duration,snow_duration
0,Berlin,2023-08-03 15:00:00,295.43,295.28,989,60,Rain,light rain,7.45,10000,1.13,0.0
1,Berlin,2023-08-03 18:00:00,293.23,293.07,995,68,Rain,light rain,6.85,10000,0.71,0.0
2,Berlin,2023-08-03 21:00:00,290.96,290.75,1003,75,Clouds,few clouds,5.31,10000,0.00,0.0
3,Berlin,2023-08-04 00:00:00,290.38,290.33,1005,83,Clouds,scattered clouds,5.48,10000,0.00,0.0
4,Berlin,2023-08-04 03:00:00,289.47,289.40,1006,86,Rain,light rain,4.33,10000,0.23,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
955,Sofia,2023-08-08 00:00:00,285.50,284.93,1020,82,Clouds,scattered clouds,2.84,10000,0.00,0.0
956,Sofia,2023-08-08 03:00:00,283.30,282.75,1021,91,Clouds,few clouds,1.90,10000,0.00,0.0
957,Sofia,2023-08-08 06:00:00,288.22,287.40,1021,62,Clouds,few clouds,1.95,10000,0.00,0.0
958,Sofia,2023-08-08 09:00:00,295.25,294.33,1020,31,Clear,clear sky,2.57,10000,0.00,0.0
959,Sofia,2023-08-08 12:00:00,298.91,298.09,1018,21,Clouds,scattered clouds,3.17,10000,0.00,0.0

In [64]:
sql_query = "SELECT * FROM airport_data_df"
result_df = pd.read_sql(sql_query, connection)
result_df

2023-08-03 15:05:25,072 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-08-03 15:05:25,074 INFO sqlalchemy.engine.Engine [cached since 2230s ago] {'table_schema': 'mydb', 'table_name': 'SELECT * FROM airport_data_df'}
2023-08-03 15:05:25,076 INFO sqlalchemy.engine.Engine SELECT * FROM airport_data_df
2023-08-03 15:05:25,077 INFO sqlalchemy.engine.Engine [raw sql] {}

,icao,iata,name,shortName,municipalityName,Coordinates,Country_Code,Distance_to_city,Latitude,Longitude
0,EDDB,BER,Berlin Brandenburg,Brandenburg,Berlin,None,DE,19.69310,52.3514,13.493900
1,EDDH,HAM,Hamburg,Hamburg,Hamburg,None,DE,8.97376,53.6304,9.988230
2,EDDK,CGN,Cologne Bonn,Bonn,Cologne,None,DE,15.45600,50.8659,7.142740
3,EDDL,DUS,Duesseldorf Düsseldorf,Düsseldorf,Duesseldorf,None,DE,41.35520,51.2895,6.766780
4,EDDM,MUC,Munich,Munich,Munich,None,DE,28.68490,48.3538,11.786100
5,EFHK,HEL,Helsinki Vantaa,Vantaa,Helsinki,None,FI,16.33780,60.3172,24.963300
6,EGGW,LTN,London Luton,Luton,London,None,GB,44.10520,51.8747,-0.368333
7,EGKK,LGW,London Gatwick,Gatwick,London,None,GB,40.16980,51.1481,-0.190277
8,EGKR,KRH,Redhill Aerodrome,Aerodrome,Redhill,None,GB,32.65820,51.2136,-0.138611
9,EGLC,LCY,London City,City,London,None,GB,12.65200,51.5053,0.055277
10,EGLL,LHR,London Heathrow,Heathrow,London,None,GB,23.51110,51.4706,-0.461941
11,EGPH,EDI,Edinburgh,Edinburgh,Edinburgh,None,GB,11.41950,55.9500,-3.372500
12,EGSS,STN,London Stansted,Stansted,London,None,GB,48.87540,51.8850,0.234999
13,EHAM,AMS,Amsterdam Schiphol,Schiphol,Amsterdam,None,NL,11.33990,52.3086,4.763890
14,EIDW,DUB,Dublin,Dublin,Dublin,None,IE,7.95474,53.4213,-6.270070
15,EKCH,CPH,Copenhagen Kastrup,Kastrup,Copenhagen,None,DK,8.49446,55.6179,12.656000
16,ENGM,OSL,Oslo Gardermoen,Gardermoen,Oslo,None,NO,37.09400,60.1939,11.100400
17,ESSA,ARN,Stockholm -Arlanda,-Arlanda,Stockholm,None,SE,36.84230,59.6519,17.918600
18,ESSB,BMA,Stockholm -Bromma,-Bromma,Stockholm,None,SE,7.71257,59.3544,17.941700
19,LBSF,SOF,Sofia,Sofia,Sofia,None,BG,6.66518,42.6967,23.411400
20,LEBL,BCN,Barcelona,Barcelona,Barcelona,None,ES,12.58430,41.2971,2.078460
21,LEMD,MAD,Madrid Adolfo Suárez –Barajas,Adolfo Suárez –Barajas,Madrid,None,ES,14.35910,40.4936,-3.566760
22,LFPB,LBG,Paris -Le Bourget,-Le Bourget,Paris,None,FR,14.12760,48.9694,2.441390
23,LFPG,CDG,Paris Charles de Gaulle,Charles de Gaulle,Paris,None,FR,22.58570,49.0128,2.550000
24,LFPO,ORY,Paris -Orly,-Orly,Paris,None,FR,14.61720,48.7253,2.359440
25,LGAV,ATH,Athens Eleftherios Venizelos,Eleftherios Venizelos,Athens,None,GR,19.70460,37.9364,23.944500
26,LHBP,BUD,Budapest Ferenc Liszt,Ferenc Liszt,Budapest,None,HU,16.54910,47.4369,19.255600
27,LIMC,MXP,Milan Malpensa,Malpensa,Milan,None,IT,40.30900,45.6306,8.728110
28,LIME,BGY,Bergamo Orio al Serio,Orio al Serio,Bergamo,None,IT,46.16730,45.6739,9.704170
29,LIML,LIN,Milan Linate,Linate,Milan,None,IT,7.18823,45.4451,9.276740
30,LIRA,CIA,Roma Ciampino–G. B. Pastine,Ciampino–G. B. Pastine,Roma,None,IT,13.97650,41.7994,12.594900
31,LIRF,FCO,Rome Leonardo da Vinci–Fiumicino,Leonardo da Vinci–Fiumicino,Rome,None,IT,21.60500,41.8045,12.250800
32,LKPR,PRG,Prague Ruzyně,Ruzyně,Prague,None,CZ,11.60730,50.1008,14.260000
33,LOWW,VIE,Vienna Schwechat,Schwechat,Vienna,None,AT,18.24200,48.1103,16.569700
34,LROP,OTP,Bucharest Henri Coandă,Henri Coandă,Bucharest,None,RO,15.53450,44.5722,26.102200

In [63]:
sql_query = "SELECT * FROM flights_data_df"
result_df = pd.read_sql(sql_query, connection)
result_df

2023-08-03 15:05:19,371 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-08-03 15:05:19,372 INFO sqlalchemy.engine.Engine [cached since 2224s ago] {'table_schema': 'mydb', 'table_name': 'SELECT * FROM flights_data_df'}
2023-08-03 15:05:19,375 INFO sqlalchemy.engine.Engine SELECT * FROM flights_data_df
2023-08-03 15:05:19,376 INFO sqlalchemy.engine.Engine [raw sql] {}

,arrival_icao,arrival_time_local,arrival_terminal,departure_city,departure_icao,airline,flight_number,data_retrieved_on,departure_time_local
0,EDDB,2023-08-04 05:45:00,1,İzmir,LTBJ,SunExpress,XQ 966,2023-08-03,2023-08-04 02:40:00
1,EDDB,2023-08-04 06:25:00,1,Beijing,ZBAA,Hainan,HU 489,2023-08-03,2023-08-03 20:20:00
2,EDDB,2023-08-04 06:40:00,2,Varna,LBWN,Wizz Air,W6 4515,2023-08-03,2023-08-04 04:10:00
3,EDDB,2023-08-04 07:40:00,1,Riga,EVRA,Air Baltic,BT 211,2023-08-03,2023-08-04 06:05:00
4,EDDB,2023-08-04 07:05:00,1,New York,KJFK,Delta Air Lines,DL 92,2023-08-03,2023-08-03 22:50:00
...,...,...,...,...,...,...,...,...,...
16545,LBSF,2023-08-04 22:25:00,2,Berlin,EDDB,Ryanair,FR 1148,2023-08-03,2023-08-04 20:15:00
16546,LBSF,2023-08-04 22:35:00,2,Bergamo,LIME,Ryanair,FR 3661,2023-08-03,2023-08-04 20:40:00
16547,LBSF,2023-08-04 22:15:00,2,London,EGSS,Ryanair,FR 9961,2023-08-03,2023-08-04 19:10:00
16548,LBSF,2023-08-04 22:00:00,2,Munich,EDDM,Lufthansa,LH 1706,2023-08-03,2023-08-04 20:10:00
16549,LBSF,2023-08-04 22:55:00,2,Vienna,LOWW,Austrian,OS 799,2023-08-03,2023-08-04 21:25:00